
<h3>Leads</h3>

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Project name</th>
      <th scope='col'>Client name</th>
      <th scope='col'>Client email</th>
      <th scope='col'>Client contact</th>
      <th scope='col'>Platform used</th>
      <th scope='col'>Status</th>
      <th colspan='4'></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.project_name %></td>
        <td><%= lead.client_name %></td>
        <td><%= lead.client_email %></td>
        <td><%= lead.client_contact %></td>
        <td><%= lead.platform_used %></td>
        <td><%= lead.is_sale %></td>
        <td><%= link_to 'Show', lead ,class: 'btn btn-primary' %></td>
        <td><%= link_to 'Phases', lead_phases_path(lead), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path, class: 'btn btn-primary' %>

