<%= bootstrap_form_with  scope: :phase, url: lead_phases_url,local: true, method: :post do |form| %>
  <% if phase.errors.any? %>
    <div id='error_explanation'>
      <h4><%= pluralize(phase.errors.count, 'error') %> prohibited this phase from being saved:</h4>
  <% end %>
  <%= form.text_field :phase_type %>
  <%= form.email_field :assignee %>
  <%= form.datetime_select :start_date %>
  <%= form.datetime_select :due_date %>
  <%= form.submit %>
<% end %>
