
<p>
  <strong>Phase type:</strong>
  <%= @phase.phase_type %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @phase.assignee %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @phase.due_date %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @phase.lead.client_email %>
</p>

<h3>Engineers</h3>
<%= render partial: 'phases/engineers', collection: @phase.users.where(role: 'engineer'), as: :user %>
<br>

<%= render 'phases/engineers_form' %>

<%= render 'phases/bd_show' %>

<% if @phase.pending? %>
  <%= link_to 'Mark as complete' ,phase_complete_path(@phase) %>
<% end %>
