
<p>
  <strong>Phase type:</strong>
  <%= @phase.phase_type %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @phase.assignee %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @phase.start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @phase.due_date %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @phase.lead.client_email %>
</p>

<% if current_user.business_developer? %>
  <%= render "phases/bd_show" %>
<% else %>
  <%= render  "phases/manager_show" %>
<% end %>
